@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
        </ul>
    </nav>
    
    
    <div class="d-flex justify-content-between">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>#</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Name</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Scale</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Manifacturer</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Factory Number</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Combines With</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Info How To</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Price</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Date Of Purchase</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Place</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Best Company Offer</h6></th>
                    <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Comments</h6></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @Model.Count; i++)
            {
                var item = this.Model[i];

                if (i % 2 == 0)
                {
                <tr class="row table-primary">
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Name</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Scale</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Manifacturer</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.FactoryNumber</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.CombinesWith</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.InfoHowTo</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Price</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.DateOfPurchase</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Place</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.BestCompanyOffer</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Comments</small></h6></td>
                </tr>
                }
                else
                {
                <tr class="row table-success">
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Name</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Scale</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Manifacturer</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.FactoryNumber</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.CombinesWith</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.InfoHowTo</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Price</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.DateOfPurchase</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Place</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.BestCompanyOffer</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Comments</small></h6></td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>
    
    
    
    
    
    
    
    

    <!-- Page Content Holder -->
    @*<div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <h2>Collapsible Sidebar Using Bootstrap 3</h2>
        <p class="lead">This pen is a part of a <a href="https://bootstrapious.com/p/bootstrap-sidebar">Bootstrap sidebar tutorial</a> from Bootstrapious.com. CC-BY licensed.</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div class="line"></div>

        <h2>Lorem Ipsum Dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div class="line"></div>

        <h2>Lorem Ipsum Dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>*@

        @*<div class="line"></div>

        <h3>Lorem Ipsum Dolor</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>*@
</div>
