@using ScalemodelWorld.Common.Constants
@model IList<ScalemodelWorld.Common.Scalemodels.ViewModels.AllCompletedModelsViewModel>
@{
    ViewData["Title"] = "Completed scalemodels";
    Layout = "~/Views/Shared/_Layout-Scalemodels.cshtml";
}
<br />
<h1 class="text-center">Completed scalemodels</h1>
<hr class="bg-dark" style="height: 2px" />
<div class="d-flex justify-content-between">
    <nav id="sidebar">
        <partial name="_SideBarPartial" />
        <ul class="list-unstyled CTAs">
            <li>
                <a asp-controller="Users" asp-action="SeedCompletedView" class="btn btn-primary btn-lg">SEED DATA</a>
            </li>
        </ul>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>№</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Box cover</h6></th>
                <th scope="col" class="col-sm-3 d-flex justify-content-left"><h6>Name</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-left"><h6>Manifacturer</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center"><h6>Starting Date</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Finished Date</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Count; i++)
            {
                var item = this.Model[i];

                if (i % 2 == 0)
                {
            <tr class="row table-primary">
                <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                <td class="col-sm-1 d-flex justify-content-center">
                    <a href="@item.LinkToScalemates" target="_blank">
                        <img src="@item.BoxPicture" class="img-fluid" alt="Responsive image" />
                    </a>
                </td>
                <td class="col-sm-3 d-flex text-left"><h6><small>@item.Name</small></h6></td>
                <td class="col-sm-1 d-flex text-left"><h6><small>@item.Manifacturer</small></h6></td>
                <td class="col-sm-2 d-flex justify-content-center"><h6><small>@item.StartingDate.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                <td class="col-sm-1 d-flex text-left"><h6><small>@item.FinishingDate.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                <td class="col-sm-1 d-flex justify-content-center"> <a asp-action="CompletedDetails" asp-route-id="@item.Id">Details</a></td>
            </tr>
                }
                else
                {
                    <tr class="row table-success">
                        <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                        <td class="col-sm-1 d-flex justify-content-center">
                            <a href="@item.LinkToScalemates" target="_blank">
                                <img class="img-fluid" alt="Responsive image" src="@item.BoxPicture" />
                            </a>
                        </td>
                        <td class="col-sm-3 text-left"><h6><small>@item.Name</small></h6></td>
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.Manifacturer</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-center"><h6><small>@item.StartingDate.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.FinishingDate.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                        <td class="col-sm-1 d-flex justify-content-center"> <a asp-action="CompletedDetails" asp-route-id="@item.Id">Details</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>