@using ScalemodelWorld.Common.Constants
@model ScalemodelWorld.Common.Scalemodels.BindingModels.CompletedScalemodelBindingModel

@{
    ViewData["Title"] = "Completed Delete Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete @Model.Name</h1>

<h3>Are you sure you want to delete this model?</h3>

<div class="d-flex justify-content-around row">
    <div class="col-sm-6">
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
            <p class="card-text">@Model.Comments</p>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.FinishingDate)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Model.FinishingDate)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.StartingDate)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Model.StartingDate.ToString(AttributeDisplayNameConstants.DayFormat)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Number)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Number)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.Scale)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Scale)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Manifacturer)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Model.Manifacturer</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.FactoryNumber)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.FactoryNumber)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.BestCompanyOffer)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.BestCompanyOffer)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.DateOfPurchase)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Model.DateOfPurchase.ToString(AttributeDisplayNameConstants.DayFormat)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Price)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Price) лв.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Place)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Place)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.InfoHowTo)</h4>
            </div>
            <div class="col">
                @if (Model.InfoHowTo != null)
                {
                    <p class="card-text"><a href="@Model.InfoHowTo">LINK</a></p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.CombinesWith)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.CombinesWith)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <a href="@Model.LinkToScalemates" target="_blank">
            <img src="@Model.BoxPicture" style="width: 100% \9;" class="img-fluid" alt="Responsive image">
        </a>
        <div class="row pt-5">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.PicturesLink)</h4>
            </div>
            <div class="col">
                @if (Model.PicturesLink != null)
                {
                    <p class="card-text"><a href="@Model.PicturesLink">LINK</a></p>
                }
                else
                {
                    <p class="card-text"><a href="@Model.PicturesLink">LINK</a></p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.ForumsLink)</h4>
            </div>
            <div class="col">
                @if (Model.ForumsLink != null)
                {
                    <p class="card-text"><a href="@Model.ForumsLink">LINK</a></p>
                }
                else
                {
                    <p class="card-text"><a href="@Model.ForumsLink">LINK</a></p>
                }
            </div>
        </div>
    </div>
</div>

<form asp-action="CompletedDelete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="AllCompleted">Back to Completed</a>
</form>