@using ScalemodelWorld.Common.Constants
@model IList<ScalemodelWorld.Common.Scalemodels.ViewModels.AllModelsViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Purchased scalemodels</h1>
<hr class="bg-dark" style="height: 2px" />
<div class="d-flex justify-content-between">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a asp-area="" asp-controller="Scalemodels" asp-action="AddModel" class="btn btn-primary btn-lg">              ADD NEW MODEL              </a>
            </li>
        </ul>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>№</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center"><h6>Box cover</h6></th>
                <th scope="col" class="col-sm-3 d-flex justify-content-center"><h6>Name</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center"><h6>Price</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center"><h6>Date Of Purchase</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Count; i++)
            {
                var item = this.Model[i];

                if (i % 2 == 0)
                {
                    <tr class="row table-primary">
                        <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-center">
                            <a href="@item.LinkToScalemates" target="_blank">
                                <img src="@item.BoxPicture" class="img-fluid" alt="Responsive image" />
                            </a>
                        </td>
                        <td class="col-sm-3 d-flex text-left"><h6><small>@item.Name</small></h6></td>
                        @if (item.Price == 0)
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>0.00 лв.</small></h6></td>
                        }
                        else
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>@item.Price лв.</small></h6></td>
                        }
                        <td class="col-sm-2 d-flex text-left"><h6><small>@item.DateOfPurchase.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-center"> <a asp-action="AvailableDetails" asp-route-id="@item.Id">Details</a></td>
                    </tr>
                }
                else
                {
                    <tr class="row table-success">
                        <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-center">
                            <a href="@item.LinkToScalemates" target="_blank">
                                <img class="img-fluid" alt="Responsive image" src="@item.BoxPicture" />
                            </a>
                        </td>
                        <td class="col-sm-3 text-left"><h6><small>@item.Name</small></h6></td>
                        @if (item.Price == 0)
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>0.00 лв.</small></h6></td>
                        }
                        else
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>@item.Price лв.</small></h6></td>
                        }
                        <td class="col-sm-2 d-flex text-left"><h6><small>@item.DateOfPurchase.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-center"> <a asp-action="AvailableDetails" asp-route-id="@item.Id">Details</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>