@using ScalemodelWorld.Common.Constants
@model IList<ScalemodelWorld.Common.Scalemodels.ViewModels.AllPurchasedModelsViewModel>
@{
    ViewData["Title"] = "Purchased models";
    Layout = "~/Views/Shared/_Layout-Scalemodels.cshtml";
}   
<br />
<h1 class="text-center">Purchased scalemodels</h1>
<hr class="bg-dark" style="height: 2px" />
<div class="d-flex justify-content-between">
    <nav id="sidebar">
        <partial name="_SideBarPartial" />
        <ul class="list-unstyled CTAs">
            <li>
                <a asp-area="" asp-controller="PurchasedScalemodels" asp-action="AddModel" class="btn btn-primary btn-lg">ADD NEW MODEL</a>
            </li>
            <ul class="list-unstyled CTAs">
                <li>
                    <a asp-controller="Users" asp-action="SeedPurchasedView" class="btn btn-primary btn-lg">SEED DATA</a>
                </li>
            </ul>
        </ul>
    </nav>
    <table class="table table-hover">
        <thead class="header" id="myHeader">
            <tr class="row">
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>№</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Box cover</h6></th>
                <th scope="col" class="col-sm-3 d-flex justify-content-left"><h6>Name</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-left"><h6>Manifacturer</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-left"><h6>Aftermarket</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center"><h6>Price</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Date Of Purchase</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-right">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Count; i++)
            {
                var item = this.Model[i];

                if (i % 2 == 0)
                {
                    <tr class="row table-primary">
                        <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                        <td class="col-sm-1 d-flex justify-content-center">
                            <a href="@item.LinkToScalemates" target="_blank">
                                <img src="@item.BoxPicture" class="img-fluid" alt="Responsive image" />
                            </a>
                        </td>
                        <td class="col-sm-3 d-flex text-left"><h6><small>@item.Name</small></h6></td>
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.Manifacturer</small></h6></td>
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.Manifacturer</small></h6></td>
                        @if (item.Price == 0)
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>0.00 лв.</small></h6></td>
                        }
                        else
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>@item.Price лв.</small></h6></td>
                        }
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.DateOfPurchase.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-right"> <a asp-action="PurchasedDetails" asp-route-id="@item.Id">Details</a></td>
                    </tr>
                }
                else
                {
                    <tr class="row table-success">
                        <td class="col-sm-1 d-flex justify-content-center"><h6><small>@item.Number</small></h6></td>
                        <td class="col-sm-1 d-flex justify-content-center">
                            <a href="@item.LinkToScalemates" target="_blank">
                                <img class="img-fluid" alt="Responsive image" src="@item.BoxPicture" />
                            </a>
                        </td>
                        <td class="col-sm-3 text-left"><h6><small>@item.Name</small></h6></td>
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.Manifacturer</small></h6></td>
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.Manifacturer</small></h6></td>
                        @if (item.Price == 0)
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>0.00 лв.</small></h6></td>
                        }
                        else
                        {
                            <td class="col-sm-2 d-flex justify-content-center"><h6><small>@item.Price лв.</small></h6></td>
                        }
                        <td class="col-sm-1 d-flex text-left"><h6><small>@item.DateOfPurchase.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                        <td class="col-sm-2 d-flex justify-content-right"> <a asp-action="PurchasedDetails" asp-route-id="@item.Id">Details</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>