@using ScalemodelWorld.Common.Constants
@{
    ViewData["Title"] = "Purchased models";
    Layout = "~/Views/Shared/_Layout-Scalemodels.cshtml";
}
@using X.PagedList.Mvc; //import this so we get our HTML Helper
@using X.PagedList;
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->

<br />
<br />
<h1 class="text-center">Purchased scalemodels</h1>
<hr class="bg-dark" style="height: 2px" />
<div class="d-flex justify-content-between">
    <nav id="sidebar">
        <partial name="_SideBarPartial" />
        <ul class="list-unstyled CTAs">
            <li>
                <a asp-area="" asp-controller="PurchasedScalemodels" asp-action="AddModel" class="btn btn-primary btn-lg">ADD NEW MODEL</a>
            </li>
            <ul class="list-unstyled CTAs">
                <li>
                    <a asp-controller="Users" asp-action="SeedPurchasedView" class="btn btn-primary btn-lg">SEED DATA</a>
                </li>
                <li class="page-item">
                    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("AllPurchased", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </li>
            </ul>
        </ul>
    </nav>
    <table class="table table-hover">
        <thead class="header" id="myHeader">
            <tr class="row">
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>№</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Box cover</h6></th>
                <th scope="col" class="col-sm-3 d-flex justify-content-left"><h6>Name</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-left"><h6>Manifacturer</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-left"><h6>Aftermarket</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-center"><h6>Price</h6></th>
                <th scope="col" class="col-sm-1 d-flex justify-content-center"><h6>Date Of Purchase</h6></th>
                <th scope="col" class="col-sm-2 d-flex justify-content-right">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ViewBag.OnePageOfProducts)
            {
                <tr class="row table-primary">
                    <td class="col-sm-1 d-flex justify-content-center"><h6><small>@product.Number</small></h6></td>
                    <td class="col-sm-1 d-flex justify-content-center">
                        <a href="@product.LinkToScalemates" target="_blank">
                            <img src="@product.BoxPicture" class="img-fluid" alt="Responsive image" />
                        </a>
                    </td>
                    <td class="col-sm-3 d-flex text-left"><h6><small>@product.Name</small></h6></td>
                    <td class="col-sm-1 d-flex text-left"><h6><small>@product.Manifacturer</small></h6></td>
                    <td class="col-sm-1 d-flex text-left"><h6><small>@product.Manifacturer</small></h6></td>
                    @if (product.Price == 0)
                    {
                        <td class="col-sm-2 d-flex justify-content-center"><h6><small>0.00 лв.</small></h6></td>
                    }
                    else
                    {
                        <td class="col-sm-2 d-flex justify-content-center"><h6><small>@product.Price лв.</small></h6></td>
                    }
                    <td class="col-sm-1 d-flex text-left"><h6><small>@product.DateOfPurchase.ToString(AttributeDisplayNameConstants.DayFormat)</small></h6></td>
                    <td class="col-sm-2 d-flex justify-content-right"> <a asp-action="PurchasedDetails" asp-route-id="@product.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
