@model Scalemodel.Data.Models.Scalemodels.AvailableScalemodel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AvailableScalemodel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manifacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manifacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CombinesWith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CombinesWith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestCompanyOffer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestCompanyOffer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoHowTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoHowTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
